html{
    width: 100%;
}

body{
    background-color: #fff;
    width: 100%;
    font-size: 62.5%;
    min-width: 650px;
    color: #222;
}

.mcontent{
	margin-top: 130px;
	font-size: 1.2rem;
}

#mainpanel{
	margin-top: -130px;
}

@media only screen and (max-width: 992px) {
#mainNav .navbar-nav .nav-item{
    background-color: #00bbe6;
    width: 200px;
}

}

@media only screen and (max-width: 768px) {
    body{
        padding-left: 50px;
        padding-right: 50px;
    }
    .profilearea, .bookingcard{
        width: 500px;
    }
    .mid h5{
        text-align: left;
    }
}

 @media only screen and (min-width: 992px) {   

}

#mainNav {
    font-size: 0.9rem;
    background-color: #00bbe6;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
   background-color: #00bbe6;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #00bbe6;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
   #mainNav.navbar-shrink .navbar-brand img{
    width: 30px;
  }

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 10px 20px;
    margin-left: 20px;
}

.btn-primary {
  background-color: orange;
  border-color: orange;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}



.footer{
    background-color: #222;
    color: #fff;
}

.subfoot ul{
    list-style: none;
    margin-left: -30px;
}

.txt13 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 1.2rem;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.txt14 {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1rem;
	color: #999999;
	line-height: 1.7;
}

.nav-link a{
    line-height: 1.6rem;
}

.main{
    margin-top: 120px;
}

.badge{
    color: orange;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.mainbadge{
    color: orange;
    font-size: 7rem;
    line-height: 1.6rem;
}


.spacer{
    height: 2000px;
}

.profilearea{
    height: 300px;
    border: 3px dashed grey;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 5px #888888;
}

.bookingcard{
    margin-top:20px;
    height: 160px;
    border: 1px solid #333;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
}

.cardtext{
    font-size: 1.1rem;
    font-weight: 700;
}

.small{
    font-size: 0.9rem;
}

.mid{
    text-align: center;
}

.warn{
	color: orange;
}